---
layout: default
banner-heading: KH KLÚBBHÚS MATSEÐILL
type:
  - name: Léttir réttir
    banner-image: /Images/1-juni.jpg
    menu-items:
      - title: Kjúklingavængir hot/bbq
        description: |-
          ranch sósa, sellerí, gulrætur
        price: 1750.-
      - title: Kjúklingafingur
        description: 'engifergleis, sellerí, gulrætur, grillað blómkál, aiolisósa, '
        price: 1990.-
      - title: mini kjúklinga taco
        description: 'bbq, mais, kál, guacomole, rauðlaukur, salsa'
        price: 2150.-
      - title: mini borgarar 3.stk
        description: 'sósa, piparostur, sultaður rauðlaukur'
        price: 2150.-
      - title: Nachos
        description: 'salsasósa, guacamole, sýrður rjómi, ristaður ostur'
        price: 1390.-
      - title: Ofnbakaður Dala Brie
        description: 'mangó chutney, ristaðar valhnetur, ristað steinbakað brauð'
        price: 1950.-
      - title: Djúpsteiktur Camembert
        description: 'ristberjasulta, jarðaber, ristað steinbakað brauð'
        price: 1890.-
      - title: Ofnbökuð lifrakæfa
        description: 'beikon, sveppir, ristað steinbakað brauð'
        price: 1890.-
      - title: Hvítlauksrækjur
        description: 'chilli hvítlaukssmjör, ristað naanbrauð'
        price: 1990.-
      - title: Blómkálsvængir
        description: 'hotsósa, sellerí, gulrætur, aioli sósa'
        price: 1750.-
      - title: Mexikó kjúklingasúpa
        description: 'nachos, ostur, sýrður rjómi, grillað naan brauð'
        price: 2100.-
  - name: Salat Skálar
    banner-image: /Images/mynd1.jpg
    menu-items:
      - title: Kjúklingaskál
        description: 'grillaðar kjúklingalundir, romaine kál, gúrka, parmesan, brauðteningar, caesar dressing'
        price: 2.490.-
      - title: Mexikó kjúklingaskál
        description: 'grillaðar kjúklingalundir, romaine kál, tómatar, guacamole, rifin ostur, nachos, mexikó dressing'
        price: 2.590.-
      - title: Steikaraskál
        description: '120gr grilluð nautasteik, romaine kál, rauðlaukur, fetaostur, rauðrófur, cherry tómatar, wasabi hnetur, döðlur, balsamic dressing'
        price: 2.990.-
      - title: Vegaskál
        description: 'steikt grænmetisbuff, romaine kál, hnetur, döðlur, tómatar, gúrka, sesame dressing'
        price: 2.590.-
  - name: Fiskiréttir
    banner-image: /Images/Copyright_Karen_9W3A2131.jpg
    menu-items:
      - title: Fiskibollur
        description: 'lauksmjör, remúlaði, pikklað rótar grænmeti'
        price: 2.490.-
      - title: Fiskur & franskar
        description: 'þrjár tegundir af köldum heimagerðum sósum, hrásalat'
        price: 2.490.-
      - title: Fiskipanna
        description: 'gratíneraður þorskhnakki, rækjur, ristað grænmeti, kartöflusmælki, bearnaisesósa'
        price: 2.950.-
      - title: Fiski taco
        description: 'djúpsteiktur þorskur, spicy hrásalat, salsa, guacamole, sýrður rjómi, sultaður rauðlaukur, nachos'
        price: 2.790.-
  - name: Grillseðill
    banner-image: /Images/club-menu.jpeg
    menu-items:
      - title: Klúbbhús borgari
        description: '140gr buff, piparostur, kál, rauðlaukssulta, franskar'
        price: 2.450.-
      - title: Bearnaiseborgari
        description: '140gr buff, bearnaisesósa, ristaðir sveppir, ostur, kál, franskar'
        price: 2.550.-
      - title: Grænmetisborgari
        description: 'grænmetisbuff, klúbbhús sósa, rauðlauks sulta, vegan ostur, sætar franskar'
        price: 2.450.-
      - title: Grillaðar lambakótilettur
        description: 'sveppir, laukur, beikon, ferskt salat, maís, bearnaisesósa, franskar'
        price: 3.500.-
      - title: Nautapiparsteik
        description: 'Koniakslöguð piparsósa, ristaðir sveppir, grillaður maís, ferskt salat, franskar'
        price: 3.700.-
      - title: Steikarasamloka
        description: 'ristaðir sveppir, laukur, beikon, kál, bearnaisesósa, franskar '
        price: 3.100.-
      - title: Grænmetisbollur
        description: 'spaghetti, tómat basil, klettasalat, falafel bollur '
        price: 2.290.-
      - title: kjúklinga snitzel milanese
        description: 'kjúklingasnitzel, spaghetti, milanese sósa, basil, parmesan, klettasalat'
        price: 3.500.-
      - title: BBQ svínarif
        description: 'hrásalat, bourbon sósa, franskar '
        price: 3.200.-
      - title: Herra Ameríka
        description: 'beikon, egg, pönnukökur, síróp, melóna, ristað steinbakað brauð'
        price: 2.390.-
      - title: Grilluð samloka
        description: 'skinka, ostur, franskar'
        price: 1.890.-
  - name: Pizzur
    banner-image: /Images/mynd2.jpg
    menu-items:
      - title: Margarita
        description: 'pizzasósa, mozzarella'
        price: 1.990.-
      - title: Osta hálfmáni
        description: 'hvítlauksolía, mozzarella, ítalskar kryddjurtir, pizzasósa til hliðar'
        price: 2.690.-
      - title: Pepperóni
        description: 'pizzasósa, mozzarella, pepperóni'
        price: 2.800.-
      - title: Hráskinka
        description: 'ostasósa, mozzarella, hráskinka, parmesan, klettasalat'
        price: 2.900.-
      - title: Humarbaka
        description: 'ostasósa, mozzarella, humar, laukur, sveppir, parmesan, klettasalat'
        price: 3.100.-
      - title: Grænmetis
        description: 'grænt pestó, mozzarella, cherry tómatar, sveppir, rauðlaukur, döðlur, klettasalat, furuhnetur'
        price: 2.590.-
  - name: Eftirréttir
    banner-image: /Images/Copyright_Karen_9W3A2336.jpg
    menu-items:
      - title: Volg súkkulaðikaka
        description: 'jarðaber, vanilluís'
        price: '1490'
      - title: Vaffla
        description: 'jarðaber, vanilluís, súkkulaðisósa'
        price: '1490'
  - name: Bættu við
    menu-items:
      - title: Franskar
        description:
        price: 600.-
      - title: Spælt egg
        description:
        price: 200.-
      - title: Beikon
        description:
        price: 200.-
      - title: Sætar kartöflufranskar
        description:
        price: 600.-
      - title: Kókteilsósa
        description:
        price: 200.-
      - title: Bearnaisesósa
        description:
        price: 200.-
      - title: Smælki kartöflur
        description:
        price: 600.-
---

<!-- Description  -->
<section class="grid-centered padded-5 centered">
  <div class="col-8_sm-12">
    <!-- <h2> Bókaðu fundinn hjá okkur  </h2> -->
    <p> Korpa Klúbbhús býður uppá úrval íslenskra og skandinavískra rétta. Við leggjum ríka áherslu á hágæða hráefni, stuttan eldunartíma og vandað handbragð einkennir matinn hjá okkur. Útkoman er einstaklega bragðgóður og ljúffengur matur.</p>
  </div>
</section>

<!-- Description ends -->

<div class="grid-center">

{% for category in page.type %}
<div class="col-9_lg-9 padded-5">

<div class="grid-middle-spaceBetween padded ">
  <!-- <hr class="col-5"> -->
  <h2 class=" category col-12 centered"> {{category.name}} </h2>
    <hr class="col-5">
  </div>
    <div class="grid-top paddedRight-2 paddedLeft-2 padded-bottom">
      {% for item in category.menu-items %}
      <div class="grid col-6_xs-12 menu-item padded paddedBottom-0 paddedTop-0 ">
        <div class="col-9_sm-12=">
          <h3 class="menu-title"> {{item.title}} </h3>
          <p class="description"> {{item.description}} </p>
        </div>
        <div class="col-3_sm-12 right">
          <p> {{item.price}} </p>
        </div>
      </div>



{% endfor %}
</div>



</div>
{%if category.banner-image %}

<section class="banner-menu col-12 grid-center fixed-banner banner-bg" style="background-image:url('{{category.banner-image}}')">


</section>

{% endif %}

{% endfor %}

</div>
