---
layout: default
banner-heading: MATSEÐILL
banner-image: /images/placeholder.jpeg
type:
  - name: Réttir vikunnar   22-26 September
    extra: Súpa & uppáhellt kaffi fylgir með frá 11 - 14
    banner-image: /images/publicdeli4.jpg
    menu-items:
      - title: Mánudagur
        description: Ofnbakaður Þorskur með Ítölsku ívafi kartöflur og salat
        price: '2890'
      - title: Þriðjudagur
        description: |
          Snitsel með sveppasósu, kartöflur og salat
        price: '2890'
      - title: Miðvikudagur
        description: >-
          Grillaður kjúklingur með Spicy lemon eða piri piri kartöflur, hrásalat
          og kokteilsósa
        price: '2890'
      - title: Fimmtudagur
        description: Lambakótilettur í raspi, kartöflur, rauðkál, salat og rauðvínssósa
        price: '3490'
      - title: Föstudagur
        description: BBQ Kjúklingalæri með röstí kartöflum og hrásalat
        price: '2890'
  - name: Forréttir
    banner-image: /images/publicdeli4.jpg
    menu-items:
      - title: Kjúklingavængir
        description: Veldu um - hot/bbq/wiski gljáa - sellerí, gulrætur
        price: '2695'
      - title: Nachos
        description: kjúklingur, ostablanda, jalapeno, salsasósa, guacamole
        price: '2695'
      - title: Bakaður camembert
        description: mangó chutney, ristað súrdeigsbrauð
        price: '2890'
      - title: dudó brauð
        description: pizza hálfmáni, pizza sósa, parmesan, hvítlauksolía
        price: '2790'
  - name: Vefjur & Samlokur
    banner-image: /images/publicdeli11.jpg
    menu-items:
      - title: super avocado
        description: kjúklingur, avocado, tómatar, spínat, pestó
        price: '2890'
      - title: bombay kjúklingur
        description: kjúklingur, spínat, paprika, pestó
        price: '2890'
      - title: persian kjúklingur (hot)
        description: kjúklingur, paprika, spínat, pestó
        price: '2890'
      - title: tuna deluxe (hot)
        description: túnfiskur, paprika, jalapeno, tabasco sósa, spínat, pestó
        price: '2790'
      - title: ceasar
        description: kjúklingur, romaine, parmesan ostur, caesar dressing
        price: '2990'
      - title: Public deli samloka með kjúkling
        description: >-
          súrdegisbrauð, kjúklingabringa, beikon, ferskur mozzarella, salatblað,
          tómatar, chilli majó, sætar franskar
        price: '3790'
      - title: Public Deli samloka með nautakjöti
        description: >-
          súrdeigsbrauð, nautakjöt, salat, laukur, sveppir, bearnaise sósa,
          franskar
        price: '3990'
  - name: Salat skálar
    banner-image: /images/publicdeli10.jpg
    menu-items:
      - title: caesar salat
        description: >-
          kjúklingur, romaine, hvítlauks-brauðteningar, parmesan ostur, caesar
          dressing
        price: '3190'
      - title: public deli salat
        description: >-
          kjúklingur, romaine, avocado, rauðlaukur, tómatar, paprika, ostur,
          nachos, chipotle dressing
        price: '3390'
      - title: Vegan grænmetis salat (V)
        description: >-
          grænmetisbuff, romaine, ananas, döðlur, sætar kartöflur, cashew
          hnetur, vínber, sólskins dressing
        price: '3390'
  - name: Borgarar
    banner-image: /images/publicdeli6.jpg
    menu-items:
      - title: Bearnaise borgari
        description: >-
          140gr buff, ristaðir sveppir, goudo ostur, kál, bearnaise sósa, public
          deli sósa, franskar
        price: '3290'
      - title: Beikon borgari
        description: >-
          140gr buff, rauðlaukssulta, piparostur, public deli sósa, beikon, kál,
          franskar
        price: '3390'
      - title: ostborgari
        description: 140gr buff, ostur, kál, public deli sósa, franskar
        price: '2990'
      - title: kjúklinga borgari
        description: >-
          grilluð kjúklingabringa, ferskt salat, chilli majó, súrar gúrkur,
          hrásalat, sætar franskar
        price: '3390'
      - title: vegan borgari (V)
        description: grænmetisbuff, ristaðir sveppir, laukur, sólskinssósa, sætar franskar
        price: '3290'
  - name: Pizzur 12'/ 16'
    banner-image: /images/publicdeli13.jpg
    menu-items:
      - title: Margarita
        description: pizzasósa, mozzarella
        price: 2490 / 2990
      - title: Funghi
        description: pizzusósa, mozzarella, sveppir
        price: 2990 / 3690
      - title: vesuvio
        description: pizzasósa, mozzarella, skinka
        price: 2990 / 3790
      - title: carpicciosa
        description: pizzusósa, mozzarella, skinka, sveppir
        price: 2990 / 3990
      - title: pepperóni
        description: pizzasósa, mozzarella, pepperóni
        price: 2990 / 3990
      - title: rækju
        description: >-
          pizzasósa, mozzarella, rækjur, klettasalat, tómatar, parmesan ostur,
          hvítlauksolía
        price: 3990 / 4990
      - title: Hráskinku
        description: >-
          pizzasósa, mozzarella, klettasalat, parma skinka, parmesan, balsamic
          gljái
        price: 3990 / 4990
      - title: Hawaii
        description: pizzasósa, mozzarella, skinka, ananas
        price: 3390 / 4290
      - title: public deli
        description: chilli sulta, pizzasósa, mozzarella, pepperóni, piparostur, döðlur
        price: 3890 / 4890
      - title: fajita
        description: >-
          bbq sósa, mozzarella, kjúklingur, rauðlaukur, paprika, jalapeno,
          rjómaostur
        price: 3890 / 4990
      - title: Quatro
        description: pizzasósa, mozzarella, gráðostur, brie, camembert, sulta
        price: 4490 / 4990
      - title: kjötveisla
        description: >-
          pizzasósa, mozzarella, nautahakk, skinka, pepperóni, beikon,
          piparostur, rauðlaukur
        price: 4890 / 5890
      - title: grænmetis
        description: >-
          pizzasósa, mozzarella, grillað grænmeti, sveppir, hvítlauksolía (vegan
          ostur)
        price: 3890 / 4690
      - title: hvítlauksbrauð
        description: mozzarella, salt flögur, hvítlauksolía
        price: 2490 / 2990
  - name: Grillið
    banner-image: /images/publicdeli12.jpg
    menu-items:
      - title: Grilluð kjúklingabringa
        description: með spicy lemon, ferkst salat, hrísgrjón
        price: '3990'
      - title: grillað kjúklingalæri
        description: >-
          hunangs-kjúklingalæri, brún hrísgrjón, sætir kartöfluteningar, salat,
          jógúrtsósa
        price: '3890'
      - title: Nautasteik 200gr
        description: ferskt salat, franskar, bearnaise sósa, sveppa-piparsósa
        price: '4990'
      - title: lambakótilettur
        description: >-
          ferskt salat, ristaðir sveppir, laukur, beikon, bearnaisesósa,
          franskar
        price: '4990'
      - title: bbq gljái grísarif
        description: public deli whiskey gljái, ferkst salat, franskar
        price: '4990'
      - title: pönnusteiktur lax
        description: brún hrísgrjón, mango salsa, jógúrtssósa
        price: '3990'
      - title: fiskur & franskar
        description: djúpsteiktur fiskur, ferkst salat, franskar, kokteilssósa
        price: '3490'
  - name: Eftirréttir
    menu-items:
      - title: ískúlur
        description: þrjár ískúlur með jarðaberja, karamellusósu eða súkkulaðisósu
        price: '1645'
      - title: súkkulaðikaka
        description: vanilluís með berjum
        price: '1890'
      - title: Eplakaka
        description: Vaniluís og Karamellusósa
        price: '1890'
---
<!-- Description  -->
<section class="grid-centered padded-5 centered">
  <div class="col-8_sm-12">
    <!-- <h2> Bókaðu fundinn hjá okkur  </h2> -->
    <p class="sm-margin-t-2"> Public Deli er þekkt fyrir fjölbreytt úrval girnilegra rétta með áhrifum úr íslenskri og alþjóðlegri matargerð. Við einblínum á ferskleika, gæðahráefni og vandvirka eldun sem skilar sér í frábæru bragði. Hér færðu góða máltíð sem er bæði næringarrík og full af karakter. </p>
  </div>
</section>

<!-- Description ends -->

<div class="grid-center">

{% for category in page.type %}
<div class="col-9_lg-9 padded-5">

<div class="grid-middle-spaceBetween padded ">
  <!-- <hr class="col-5"> -->
  <h2 class=" category col-12 centered"> {{category.name}} </h2>
  <h4 class="col-12 centered no-padding"> {{category.extra}} </h4>
    <hr class="col-5 sm-margin-b-2" />
  </div>
    <div class="grid-top paddedRight-2 paddedLeft-2 padded-bottom sm-margin-t-2">
      {% for item in category.menu-items %}
      <div class="grid col-6_xs-12 menu-item padded paddedBottom-0 paddedTop-0">
        <div class="col-9_sm-12=">
          <h3 class="menu-title"> {{item.title}} </h3>
          <p class="description"> {{item.description}} </p>
        </div>
        <div class="col-3_sm-12 right sm-margin-b-1">
          <p> {{item.price}} </p>
        </div>
      </div>



{% endfor %}
</div>



</div>
{%if category.banner-image %}

<section class="banner-menu col-12 grid-center fixed-banner banner-bg" style="background-image:url('{{category.banner-image}}')">


</section>

{% endif %}

{% endfor %}

</div>
