---
layout: default
banner-heading: MATSEÐILL
banner-image: /Images/mynd1.jpg
type:
  - name: Léttir réttir
    banner-image: /Images/1-juni.jpg
    menu-items:
      - title: Kjúklingavængir hot/bbq/teriyaki
        description: ranch sósa, sellerí, gulrætur
        price: '2450'
      - title: mini taco
        description: veldu um kjúkling eða rækjur - mangó salsa, chilli majó
        price: '2690'
      - title: Mini burger
        description: rauðlaukssulta, piparostur, kál, klúbbhús sósa
        price: '2400'
      - title: Kjúklinga nachos
        description: salsa, guacamole, sýrður rjómi, jalapeno, ristaður ostur
        price: '2250'
      - title: Djúpsteiktur Camembert
        description: rifsberjahlaup, jarðaber, ristað súrdeigs brauð
        price: '2350'
      - title: Focaccia flatbrauð
        description: aioli sósa, hráskinka, fetaostur, klettasalat, balsamic, ólífuolía, sjávarsalt
        price: '2690'
      - title: Hvítlauksrækjur
        description: chilli hvítlaukssmjör, ristað naanbrauð
        price: '2450'
      - title: grænmetis tempura
        description: >-
          blómkáls hrísgrjón, gulrætur, blómkál, brokkóli, sellerí, kúrbítur, chilli majó
        price: '2250'
      - title: Kjúklinga quesadilla
        description: kjúklingur, ostasósa, ostur, sterk salsa sósa
        price: '2350'
  - name: Salat Skálar
    banner-image: /Images/mynd1.jpg
    menu-items:
      - title: Klúbbhús skál
        description: >-
          kjúklingur, romaine kál, tómatar, rauðlaukur, guacamole, rifin ostur, nachos, chipotle dressing
        price: '2890'
      - title: Kjúklinga mexicana
        description: >-
          romaine kál, rauðkál, edamame, maís salsa, paprika, fetaostur, tortilla chips, lime kóriander dressing
        price: '2890'
      - title: Steikara skál
        description: >-
          grilluð nautasteik, romaine, rauðlaukur, fetaostur, rauðrófur,
          cherry tómatar, wasabi hnetur, döðlur, balsamic dressing
        price: '3200'
      - title: Grænmetis skál
        description: >-
          steikt grænmetisbuff, romaine kál, hnetur, döðlur, tómatar, gúrka, lime kóriander dressing
        price: '2890'
  - name: Fiskiréttir
    banner-image: /Images/Copyright_Karen_9W3A2131.jpg
    menu-items:
      - title: Fiskipanna
        description: >-
          gratíneraður þorskhnakki, rækjur, ristað grænmeti, kartöflusmælki,
          bearnaisesósa
        price: '3350'
      - title: Fiskur & franskar
        description: >-
          djúpsteiktur þorskur, þrjár tegundir af köldum heimagerðum sósum,
          hrásalat
        price: '2950'
      - title: Fiski taco
        description: >-
          djúpsteiktur þorskur, sterkt hrásalat, salsa, guacamole, sýrður rjómi,
          sultaður rauðlaukur, nachos
        price: '2990'
      - title: Fiskibollur
        description: lauksmjör, remúlaði, pikklað rótar grænmeti, smælki
        price: '2850'
      - title: Klúbbhús fiskisúpa
        description: blandaður fiskur, súrdeigsbrauð, smjör
        price: '2350'
  - name: Grillseðill
    banner-image: /Images/club-menu.jpeg
    menu-items:
      - title: smass borgari
        description: 140gr buff, cheddar ostur, sinnep, tómatsósa, majó, franskar
        price: '2550'
      - title: Klúbbhús borgari
        description: >-
          140gr buff, rauðlaukssulta, piparostur, klúbbhús sósa, kál,
          franskar
        price: '2690'
      - title: Bearnaiseborgari
        description: >-
          140gr buff, ristaðir sveppir, ostur, kál, bearnaise sósa, klúbbhús
          sósa, franskar
        price: '2790'
      - title: Ketó borgari
        description: >-
          140gr buff, ristaðir sveppir, laukur, ostur, spælt egg,
          bearnaise sósa, ferskt salat
        price: '2790'
      - title: Kjúklinga borgari
        description: >-
          chilli majó, hrásalat, pikklaðar gúrkur, franskar
        price: '2890'
      - title: Steikaraloka
        description: >-
          nautasteik, ristaðir sveppir, laukur, beikon, romaine salat,
          bearnaise sósa, franskar 
        price: '3550'
      - title: lambakótilettur
        description: >-
          ristaðir sveppir, laukur, beikon, ferskt salat, grillaður maís,
          bearnaise sósa, franskar
        price: '4100'
      - title: Nauta ribeye steik
        description: >-
          250gr ribeye, koniakslöguð piparsósa, ristaðir sveppir, grillaður maís, ferskt
          salat, franskar
        price: '4600'
      - title: kjúklinga milanese
        description: kjúklinga snitzel, spaghetti, tómat basil, parmesan, klettasalat
        price: '3900'
      - title: Píta
        description: buff, romaine kál, paprika, rauðlaukur, gúrka, pítusósa, franskar
        price: '2690'
      - title: Kjúklinga vefja
        description: grillaður kjúklingur, romaine kál, ostur, ranch, sterk sósa, sætar franskar
        price: '2990'
      - title: Kjúklinga alfredo pasta
        description: >-
          penne pasta, rjóma parmesan sósa, basilika, parmesan
        price: '3900'
      - title: Grilluð samloka
        description: skinka, ostur, franskar
        price: '1890'
      - title: Lasagne
        description: ristað súrdeigsbrauð
        price: '3100'
  - name: Pizzur
    banner-image: /Images/mynd2.jpg
    menu-items:
      - title: Margarita
        description: pizzasósa, mozzarella
        price: '2250'
      - title: Osta hálfmáni
        description: hvítlauksolía, mozzarella, ítalskar kryddjurtir, pizzasósa til hliðar
        price: '2850'
      - title: Pepperóni
        description: pizzasósa, mozzarella, pepperóni
        price: '2950'
      - title: Hráskinka
        description: ostasósa, hráskinka, mozzarella, parmesan, klettasalat
        price: '3150'
      - title: bbq kjúklingur
        description: pizzasósa, kjúklingur, rauðlaukur, mozzarella, bbq sósa, sýrður rjómi
        price: '3150'
      - title: Humarbaka
        description: ostasósa, humar, laukur, sveppir, mozzarella, parmesan, klettasalat
        price: '3350'
      - title: Grænmetis
        description: >-
          grænt pestó, mozzarella, cherry tómatar, sveppir, rauðlaukur, döðlur,
          furuhnetur, klettasalat
        price: '2950'
  - name: Eftirréttir
    banner-image: /Images/Copyright_Karen_9W3A2336.jpg
    menu-items:
      - title: Apple pie
        description: vanilluís, karamellusósa, crumble
        price: '1590'
      - title: risa súkkulaðibita kaka
        description: vanilluís, súkkulaðisósa
        price: '1590'
      - title: Crème Brûlée
        description: karamellu - súkkulaði crème brûlée, berjaís
        price: '1590'
  - name: brunch
    menu-items:
      - title: Herra Ameríka
        description: >-
          beikon, egg, pylsur, pönnukökur, síróp, melóna, ristað súrdeigsbrauð,
          uppáhellt kaffi, heilsudjús
        price: '3100'
      - title: egg benedikt
        description: 'hráskinka, hleypt egg, súrdeigsbrauð, hollandaise '
        price: '2550'
      - title: Avocado toast
        description: avocado, hleypt egg, tómatar, rauðlaukur,  súrdeigsbrauð
        price: '2390'
      - title: Ommeletta
        description: skinka, ostur, ristað brauð, smjör
        price: '1990'
      - title: Beikon & egg
        description: gúrka, tómatar, ristað brauð, smjör
        price: '1990'
      - title: French Toast
        description: kanilsykur, jarðaber, síróp
        price: '1390'
      - title: Pönnukökur
        description: jarðaber, síróp
        price: '1290'
---

<!-- Description  -->
<section class="grid-centered padded-5 centered">
  <div class="col-8_sm-12">
    <!-- <h2> Bókaðu fundinn hjá okkur  </h2> -->
    <p class="sm-margin-t-2"> Korpa & Holtið Klúbbhús bjóða uppá úrval íslenskra og skandinavískra rétta. Við leggjum ríka áherslu á hágæða hráefni, stuttan eldunartíma og vandað handbragð einkennir matinn hjá okkur. Útkoman er einstaklega bragðgóður og ljúffengur matur.</p>
  </div>
</section>

<!-- Description ends -->

<div class="grid-center">

{% for category in page.type %}
<div class="col-9_lg-9 padded-5">

<div class="grid-middle-spaceBetween padded ">
  <!-- <hr class="col-5"> -->
  <h2 class=" category col-12 centered"> {{category.name}} </h2>
  <!-- <h4 class="col-12 centered no-padding"> {{category.extra}} </h4> -->
    <hr class="col-5 sm-margin-b-2">
  </div>
    <div class="grid-top paddedRight-2 paddedLeft-2 padded-bottom sm-margin-t-2">
      {% for item in category.menu-items %}
      <div class="grid col-6_xs-12 menu-item padded paddedBottom-0 paddedTop-0">
        <div class="col-9_sm-12=">
          <h3 class="menu-title"> {{item.title}} </h3>
          <p class="description"> {{item.description}} </p>
        </div>
        <div class="col-3_sm-12 right sm-margin-b-1">
          <p> {{item.price}} </p>
        </div>
      </div>



{% endfor %}
</div>



</div>
{%if category.banner-image %}

<section class="banner-menu col-12 grid-center fixed-banner banner-bg" style="background-image:url('{{category.banner-image}}')">


</section>

{% endif %}

{% endfor %}

</div>
