---
layout: default
banner-heading: KORPA MATSEÐILL
type:
  - name: Léttir réttir
    banner-image: /Images/burger-menu.jpeg
    menu-items:
      - title: Kjúklingavængir hot/bbq
        description: |-
          ranch sósa, sellerí, gulrætur
        price: 1450.-
      - title: Kjúklingafingur
        description: 'engifergleis, sellerí, gulrætur, grillað blómkál, aiolisósa, '
        price: 1850.-
      - title: mini kjúklinga taco
        description: 'bbq, mais, kál, guacomole, rauðlaukur, salsa'
        price: 1950.-
      - title: mini borgarar 3.stk
        description: 'sósa, piparostur, sultaður rauðlaukur'
        price: 1950.-
      - title: Nachos
        description: 'salsasósa, guacamole, sýrður rjómi, ristaður ostur'
        price: 1250.-
      - title: hráskinkubakki
        description: hráskinka, ólífur, ostar, klettasalat, parmesan, ristað steinbakað brauð
        price: 2490.-
      - title: Osta Fondue
        description: 'pretzel brauð'
        price: 1.890.-
      - title: Ofnbakaður Ostur
        description: 'camembert, mango chutney, ristað steinbakað brauð'
        price: 1.790.-
      - title: Djúpsteiktur Dala Brie
        description: 'dala brie, ristberjasulta, ristað steinbakað brauð'
        price: 1.790.-
  - name: Salöt
    banner-image: /Images/nachos-menu.jpeg
    menu-items:
      - title: Kjúklingaskál
        description: 'teriyaki kjúklingur, döðlur, hnetur, brauðteningar, tómatur, sesame dressing, ristað steinbakað brauð'
        price: 2.490.-
      - title: Mexikó kjúklingaskál
        description: 'kjúklingur, romaine kál, tómatar, guacamole, rifin ostur, nachos, sesame dressing, ristað steinbakað brauð'
        price: 2.490.-
      - title: Vegaskál
        description: 'steikt grænmetisbuff, sesame dressing, hnetur, döðlur, tómatar, gúrka, ristað steinbakað brauð'
        price: 2.490.-
  - name: Fiskiréttir
    banner-image: /Images/Copyright_Karen_9W3A2131.jpg
    menu-items:
      - title: Fiskisúpa Klúbbsins
        description: 'blandaður fiskur, ristað steinbakaðbrauð, smjör'
        price: 2.190.-
      - title: Fiskur & franskar
        description: 'þrjár tegundir af köldum heimagerðum sósum, ferskt salat'
        price: 2.390.-
      - title: Smjörsteikt rauðspretta
        description: 'rækjur, steikt grænmeti, kartöflusmælki, hvítvínssósa'
        price: 2.790.-
      - title: Fiskipanna
        description: 'gratíneraður þorskhnakki, rækjur, grænmeti, kartöflusmælki, bearnaisesósa'
        price: 2.790.-
      - title: Fiski taco
        description: 'salsa, guacamole, sýrður rjómi, sultaður rauðlaukur, djúpsteiktur þorskur, nachos'
        price: 2.490.-
  - name: Grillseðill
    banner-image: /Images/club-menu.jpeg
    menu-items:
      - title: Korpuborgari
        description: '140gr buff, piparostur, kál, rauðlaukssulta, franskar'
        price: 2.290.-
      - title: Bearnaiseborgari
        description: '140gr buff, bearnaisesósa, ristaðir sveppir, ostur, kál, franskar'
        price: 2.390.-
      - title: Lamba kótilettur
        description: 'bearnaisesósa, ferskt salat, maís, franskar'
        price: 3.300.-
      - title: Nautapiparsteik
        description: 'Koniakslöguð piparsósa, ristaðir sveppir, franskar'
        price: 3.500.-
      - title: kjúklingur milanese
        description: 'kjúklingasnitzel, spaghetti, milanese sósa, basil, parmesan'
        price: 2.900.-
      - title: Steikarasamloka
        description: 'ristaðir sveppir, laukur, beikon, bearnaisesósa, franskar '
        price: 2.990.-
      - title: Herra Ameríka
        description: 'beikon, egg, pönnukökur, síróp, melóna, ristað steinbakað brauð'
        price: 2.190.-
      - title: Grilluð samloka
        description: 'skinka, ostur, franskar'
        price: 1.890.-
  - name: Bökur
    banner-image: /Images/pizza-menu.jpeg
    menu-items:
      - title: Margaritubaka
        description: 'sósa, mozzarella'
        price: 1.890.-
      - title: Pepperónibaka
        description: 'sósa, mozzarella, pepperóni'
        price: 2.190.-
      - title: Hráskinkubaka
        description: 'ostasósa, hráskinka, parmesan, klettasalat'
        price: 2.490.-
      - title: Humarbaka
        description: 'ostasósa, humar, parmesan, laukur, sveppir, klettasalat'
        price: 2.890.-
  - name: Eftirréttir
    banner-image: /Images/Copyright_Karen_9W3A2336.jpg
    menu-items:
      - title: Volg súkkulaðikaka
        description: 'vanilluís'
        price: '1650'
      - title: Tíramisu
        description: 'ekta ítalskt'
        price: '1650'
  - name: Bættu við
    menu-items:
      - title: Franskar
        description:
        price: 600.-
      - title: Spælt egg
        description:
        price: 200.-
      - title: Vöfflufranskar
        description:
        price: 600.-
      - title: Beikon
        description:
        price: 200.-
      - title: Sætar kartöflufranskar
        description:
        price: 600.-
      - title: Kókteilsósa
        description:
        price: 200.-
      - title: Bearnaisesósa
        description:
        price: 200.-
---

<!-- Description  -->
<section class="grid-centered padded-5 centered">
  <div class="col-8_sm-12">
    <!-- <h2> Bókaðu fundinn hjá okkur  </h2> -->
    <p> Korpa Klúbbhús býður uppá úrval íslenskra og skandinavískra rétta. Við leggjum ríka áherslu á hágæða hráefni, stuttan eldunartíma og vandað handbragð einkennir matinn hjá okkur. Útkoman er einstaklega bragðgóður og ljúffengur matur.</p>
  </div>
</section>

<!-- Description ends -->

<div class="grid-center">

{% for category in page.type %}
<div class="col-9_lg-9 padded-5">

<div class="grid-middle-spaceBetween padded ">
  <!-- <hr class="col-5"> -->
  <h2 class=" category col-12 centered"> {{category.name}} </h2>
    <!-- <hr class="col-5"> -->
  </div>
    <div class="grid-top paddedRight-2 paddedLeft-2 padded-bottom">
      {% for item in category.menu-items %}
      <div class="grid col-6_xs-12 menu-item padded paddedBottom-0 paddedTop-0 ">
        <div class="col-9_sm-12=">
          <h3 class="menu-title"> {{item.title}} </h3>
          <p class="description"> {{item.description}} </p>
        </div>
        <div class="col-3_sm-12 right">
          <p> {{item.price}} </p>
        </div>
      </div>



{% endfor %}
</div>



</div>
{%if category.banner-image %}

<section class="banner-menu col-12 grid-center fixed-banner banner-bg" style="background-image:url('{{category.banner-image}}')">


</section>

{% endif %}

{% endfor %}

</div>
