---
layout: default
type:
  - name: Léttir réttir
    menu-items:
      - title: súpa dagsins
        description: 'nýbakað brauð, smjör'
        price: 1.290.-
---

{% for category in page.type %}

<div class="grid">
  <hr class="col-5">
  <h2 class="col-2"> {{category.name}} </h2>
    <hr class="col-5">
    </div>
    <div>
{% for item in category.menu-items %}
<div class="grid">
  <div class="col-9">
    <h3> {{item.title}} </h3>
    <p> {{item.description}} </p>
  </div>
  <div class="col-3 right">
    <p> {{item.price}} </p>
  </div>
</div>


{% endfor %}
</div>

{% endfor %}
