---
layout: default
type:
  - name: Léttir réttir
    menu-items:
      - title: Kjúklinga salatskál
        description: >-
          teriyaki kjúklingur, sesame ginger dressing, hnetur, döðlur, parmesan
          ostur, súrdeigsbrauð
        price: 2.490.-
      - title: súpa dagsins
        description: 'nýbakað brauð, smjör'
        price: 1.290.-
      - title: Veganskál
        description: 'steikt brokkólibuff, engifer dressing, hnetur, döðlur, tómatar, agúrka'
        price: 2.290.-
      - title: Kjúklingavængir 8.stk
        description: |-
          ranch sósa, sellerí, gulrætur
          - veldu um bbq eða hot
        price: 850.-
      - title: Nachos
        description: 'salsasósa, guacamole, sýrður rjómi'
        price: 850.-
      - title: Ofnbakaður ostur
        description: 'camembert, mangó chutney sósa, ristað súrdeigisbrauð'
        price: 1.490.-
      - title: Ofnbakaður lifrakæfa
        description: 'sveppir, beikon, ristað súrdeigsbrauð'
        price: 1.490.-
  - name: Fiskiréttir
    menu-items:
      - title: Fiskisúpa Korpa
        description: 'blandaður fiskur, súrdeigsbrauð, smjör'
        price: 1.980.-
      - title: Fiskitaco 3.stk
        description: >-
          salsasósa, guacamole, sýrður rjómi, sultaður rauðlaukur, grænmeti,
          nachos
        price: 2.290.-
      - title: Fiskur & franskar
        description: 'þrjár tegundir af köldum heimagerðum sósum, ferkst salat'
        price: 2.290.-
      - title: Smjörsteikt rauðspretta
        description: 'rækjur, steikt grænmeti, kartöflur, hvítvínssósa'
        price: 2.690.-
      - title: Fiskipanna
        description: 'gratíneraður þorskhnakki, rækjur, grænmeti, kartöflur, bearnaisesósa'
        price: 2.690.-
  - name: Grillseðill
    menu-items:
      - title: Korpuborgari
        description: '120gr buff, piparostur, grænmeti, rauðlaukssulta, franskar'
        price: 2.190.-
      - title: Bearnaiseborgari
        description: '120gr buff, bearnaisesósa, ristaðir sveppir, ostur, grænmeti, franskar'
        price: 2.490.-
      - title: Kjúklingaloka Tex Mex style
        description: 'grillaðar kjúklingalundir, avacado, grænmeti, sætar vöfflu franskar'
        price: 2.990.-
      - title: Grillaðar lambakótelettur
        description: 'bearnaisesósa, ferkst sumar salat, franskar'
        price: 2.990.-
      - title: Nautapiparsteik
        description: 'Koniakslöguð piparsósa, ristaðir sveppir, franskar'
        price: 3.200.-
---

{% for category in page.type %}

<div class="grid-middle">
  <hr class="col-5">
  <h2 class="col-2 centered padded"> {{category.name}} </h2>
    <hr class="col-5">
    </div>
    <div class="grid">
{% for item in category.menu-items %}
<div class="grid col-6">
  <div class="col-9">
    <h3> {{item.title}} </h3>
    <p> {{item.description}} </p>
  </div>
  <div class="col-3 right">
    <p> {{item.price}} </p>
  </div>
</div>


{% endfor %}
</div>

{% endfor %}
