---
layout: default
banner-heading: MENU
banner-image: /images/placeholder.jpeg
type:
  - name: Specialities of the week 23-27 February
    extra: soup & coffee is accompanied from 11 - 14
    banner-image: /images/publicdeli4.jpg
    menu-items:
      - title: Monday
        description: >
          Minced fish balls like grandma used to make with potatoes, onion
          butter and remoulade
        price:
      - title: Tuesday
        description: |
          Pork Snitzel with potato wedges, red cabbage and brown sauce 
        price:
      - title: Wednesday
        description: >
          Grilled chicken with spicy lemon or piri piri, potatoes, corn and
          coleslaw
        price:
      - title: Thursday
        description: |2+
           Lamb chops with potato wedges, red cabbage, green beans and mushroom sauce


        price:
      - title: Friday
        description: >
          Bacon burger

          140gr beef patty, red onion jam, pepper cheese, public deli sauce,
          bacon, lettuce, fries
        price:
  - name: Appetizer's
    banner-image: /images/publicdeli4.jpg
    menu-items:
      - title: Chicken wings
        description: choose between; hot, bbq, bourbon, celery, carrot
        price: '2795'
      - title: Nachos
        description: chicken, cheese, jalapeno, salsa sauce, guacamole
        price: '2795'
      - title: Baked camembert
        description: mango chutney, grilled sourdough bread
        price: '2990'
      - title: Dudo bread
        description: pizza calzone, pizza sauce, parmesan cheese, garlic oil
        price: '2890'
  - name: wraps & sandwiches
    banner-image: /images/publicdeli11.jpg
    menu-items:
      - title: super avocado
        description: chicken, avocado, tomato, spinach, pesto
        price: '2890'
      - title: bombay kjúklingur
        description: chicken, bell peppers, spinach, pesto
        price: '2890'
      - title: persian kjúklingur (hot)
        description: chicken, bell peppers, spinach, pesto
        price: '2890'
      - title: tuna deluxe (hot)
        description: tuna, bell peppers, jalapeno, tabasco sauce, spinach, pesto
        price: '2790'
      - title: ceasar
        description: chicken, romaine, parmesan cheese, caesar dressing
        price: '2990'
      - title: Public deli sandwich
        description: >-
          sourdough bread, chicken breast, bacon, fresh mozzarella, salad leaf,
          tomatoes, chilli mayo, sweet potato fries
        price: '3990'
      - title: Public Deli sandwich
        description: >-
          sourdough bread, beef, salad leaf, onion, mushrooms, bearnaise sauce,
          fries
        price: '4250'
  - name: Salad bowls
    banner-image: /images/publicdeli10.jpg
    menu-items:
      - title: Caesar salad
        description: chicken, romaine, garlic croutons, parmesan cheese, caesar dressing
        price: '3490'
      - title: Public deli salad
        description: >-
          chicken, romaine, avocado, red onion, tomatoes, bell peppers, cheese,
          nachos, chipotle dressing
        price: '3590'
      - title: Vegan salad (V)
        description: >-
          vegetable patty, romaine, pineapple, dates, sweet potato, cashwes,
          grapes, sunshine dressing
        price: '3490'
  - name: Burgers
    banner-image: /images/publicdeli6.jpg
    menu-items:
      - title: Bearnaise burger
        description: >-
          140gr beef patty, mushrooms, gouda cheese, lettuce, bearnaise sauce,
          public deli sauce, fries
        price: '3590'
      - title: Bacon burger
        description: >-
          140gr beef patty, red onion jam, pepper cheese, public deli sauce,
          bacon, lettuce, fries
        price: '3690'
      - title: Cheese burger
        description: 140gr beef patty, cheese, lettuce, public deli sauce, fries
        price: '3290'
      - title: Chicken burger
        description: >-
          grilled chicken breast, fresh salad, chilli mayo, pickled cucumber,
          coleslaw, sweet potato fries
        price: '3690'
      - title: Vegan burger (V)
        description: >-
          vegetable patty, pan fried mushrooms, onion, sunshine sauce, sweet
          potato fries
        price: '3590'
  - name: Pizzas 12'/ 16'
    banner-image: /images/publicdeli13.jpg
    menu-items:
      - title: Margarita
        description: pizza sauce, mozzarella
        price: 2490 / 2990
      - title: Funghi
        description: pizzu sauce, mozzarella, mushrooms
        price: 2990 / 3690
      - title: vesuvio
        description: pizza sauce, mozzarella, ham
        price: 2990 / 3790
      - title: carpicciosa
        description: pizzu sauce, mozzarella, ham, mushrooms
        price: 2990 / 3990
      - title: pepperóni
        description: pizza sauce, mozzarella, pepperoni
        price: 2990 / 3990
      - title: shrimps
        description: >-
          pizza sauce, mozzarella, shrimps, ruccola, cherry tomatoes, parmesan
          cheese, garlic oil
        price: 3990 / 4990
      - title: parma ham
        description: >-
          pizza sauce, mozzarella, ruccola, prosciutto, parmesan cheese,
          balsamic cream
        price: 3990 / 4990
      - title: Hawaii
        description: pizza sauce, mozzarella, ham, pineapple
        price: 3390 / 4290
      - title: public deli
        description: spicy jam, pizza sauce, mozzarella, pepperoni, pepper cheese, dates
        price: 3890 / 4890
      - title: fajita
        description: >-
          pizza sauce, mozzarella, chicken, red onion, bell peppers, jalapeno,
          cream cheese, 

          bbq sauce
        price: 3890 / 4990
      - title: Quatro
        description: pizza sauce, mozzarella, blue cheese, brie, camembert, jam
        price: 4490 / 4990
      - title: meat
        description: >-
          pizza sauce, mozzarella, ground beef, ham, pepperoni, bacon, pepper
          cheese, red onion
        price: 4890 / 5890
      - title: vegetarian / vegan
        description: >-
          pizza sauce, mozzarella, grilled vegetables, mushrooms, garlic oil
          (vegan cheese)
        price: 3890 / 4690
      - title: garlic bread
        description: mozzarella, salt flakes, garlic oil
        price: 2490 / 2990
  - name: the grill
    banner-image: /images/publicdeli12.jpg
    menu-items:
      - title: Grilled chicken breast
        description: with spicy lemon, fresh salad, rice
        price: '3990'
      - title: Grilled chicken thigh
        description: >-
          honey glazed chicken thigh, rice, sweet potato wedges, salad, yogurt
          sauce
        price: '3990'
      - title: Steak 200gr
        description: fresh salad, fries, bearnaise sauce or mushroom-pepper sauce
        price: '5900'
      - title: Lamb chops
        description: fresh salad, roasted mushrooms, onion, bacon, bearnaise sauce, fries
        price: '5900'
      - title: BBQ glazed ribs
        description: public deli whiskey glaze, fresh salad, fries
        price: '4990'
      - title: Pan-seared salmon
        description: rice, tomato, feta cheese, cucumber  and yogurt sauce
        price: '4490'
      - title: Fish & chips
        description: deep fried fish, salad, fries, cocktail sauce
        price: '3590'
  - name: dessert
    menu-items:
      - title: Three ice cream scoops
        description: strawberry, caramel, or chocolate sauce
        price: '1645'
      - title: Chocolate cake
        description: vanilla ice cream with berries
        price: '1990'
      - title: Apple cake
        description: Vanilla ice cream and caramel sauce
        price: '1990'
---
<!-- Description  -->
<section class="grid-centered padded-5 centered">
  <div class="col-8_sm-12">
    <!-- <h2> Bókaðu fundinn hjá okkur  </h2> -->
    <p class="sm-margin-t-2"> Public Deli is known for its diverse selection of delicious dishes inspired by both Icelandic and international cuisine. We focus on freshness, quality ingredients, and careful preparation that delivers exceptional flavor. Here, you'll enjoy a wholesome meal that's both nourishing and full of character. </p>
  </div>
</section>

<!-- Description ends -->

<div class="grid-center">

{% for category in page.type %}
<div class="col-9_lg-9 padded-5">

<div class="grid-middle-spaceBetween padded ">
  <!-- <hr class="col-5"> -->
  <h2 class=" category col-12 centered xs-font-small-1-9"> {{category.name}} </h2>
  <h4 class="col-12 centered no-padding"> {{category.extra}} </h4>
    <hr class="col-5 sm-margin-b-2" />
  </div>
    <div class="grid-top paddedRight-2 paddedLeft-2 padded-bottom sm-margin-t-2">
      {% for item in category.menu-items %}
      <div class="grid col-6_xs-12 menu-item padded paddedBottom-0 paddedTop-0">
        <div class="col-9_sm-12=">
          <h3 class="menu-title"> {{item.title}} </h3>
          <p class="description"> {{item.description}} </p>
        </div>
        <div class="col-3_sm-12 right sm-margin-b-1">
          <p> {{item.price}} </p>
        </div>
      </div>



{% endfor %}
</div>



</div>
{%if category.banner-image %}

<section class="banner-menu col-12 grid-center fixed-banner banner-bg" style="background-image:url('{{category.banner-image}}')">


</section>

{% endif %}

{% endfor %}

</div>
