---
layout: default
type:
  - name: Léttir réttir
    menu-items:
      - title: Kjúklinga salatskál
        description: >-
          teriyaki kjúklingur, sesame ginger dressing, hnetur, döðlur, parmesan
          ostur, súrdeigsbrauð
        price: 2.490.-
      - title: súpa dagsins
        description: 'nýbakað brauð, smjör'
        price: 1.290.-
      - title: Veganskál
        description: 'steikt brokkólibuff, engifer dressing, hnetur, döðlur, tómatar, agúrka'
        price: 2.290.-
---

{% for category in page.type %}

<div class="grid-middle">
  <hr class="col-5">
  <h2 class="col-2 centered padded"> {{category.name}} </h2>
    <hr class="col-5">
    </div>
    <div class="grid">
{% for item in category.menu-items %}
<div class="grid col-6">
  <div class="col-9">
    <h3> {{item.title}} </h3>
    <p> {{item.description}} </p>
  </div>
  <div class="col-3 right">
    <p> {{item.price}} </p>
  </div>
</div>


{% endfor %}
</div>

{% endfor %}
