* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin: 0;
}

[class*=col-], [class*=col_], [class~=col] {
  padding: 0
}

[class*=grid-].grid-top[class*=-bottom] {
  align-items: flex-start;
}

/* big elements */
section, footer {
  padding: 5% 7%;
}

/* typography */
h1, h2, h3, hr, p {
  margin-bottom: 1.5rem;
}

h1 {
  font-family: orpheuspro, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: #A9927D;
}

h2 {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: rgba(33, 33, 33, 0.88);
  text-transform: uppercase;
  letter-spacing: .2rem;
}

h3 {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}

h4 {
  font-family: orpheuspro, serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(33, 33, 33, 0.88);
}

p {
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #404040;
  line-height: 1.5;
  font-weight: 13px;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: futura-pt, sans-serif;
}

header a {
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 14px;
  color: #90887C;
}

footer h3 {
  letter-spacing: .2rem;
  text-transform: uppercase;
}

footer p {
  color: inherit;
}

.logo {
  color: #90887C;
}

/* get in touch  */
label {
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: .8rem;
  text-transform: uppercase;
  color: #404040;
  display: block;
  margin-right: .5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

label::after {
  content: "*";
  color: red;
}

input, textarea {
  border: 2px solid #90887C;
  display: block;
  padding: .5rem .5rem;
  margin-right: .5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

input[type="submit"i] {
  -webkit-appearance: none;
  color: black;
  display: inline-block;
  padding: 1rem;
  width: 8rem;
  text-align: center;
  font-family: futura-pt, sans-serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

form {
  max-width: 800px;
  margin: auto;
}

footer a {
  display: block;
  color: inherit;
  margin-bottom: .5rem;
}

/* hr {
  border: none;
  border-bottom: 4px solid black;
} */
/* utility classes */
/* Images home page */
[class*=bg] {
  background-position: center;
  background-size: cover;
  min-height: 80px;
}

.bannerimage-bg {
  background-image: url("/Images/Copyright_Karen_9W3A2456.jpg");
  min-height: 90vh;
}

.image-bg {
  background-image: url("/Images/Copyright_Karen_9W3A2456.jpg");
  max-width: 1800px;
  min-height: 470px;
  background-position: 60% 55%;
}

.photo1-bg {
  background-image: url("/Images/11-agust.jpg");
}

.photo2-bg {
  background-image: url("https://images.unsplash.com/photo-1529003600303-bd51f39627fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}

.photo3-bg {
  background-image: url("Images/mynd1.jpg");
  max-width: 400px;
  min-height: 400px;
  background-position: 50% 75%;
}

.photo4-bg {
  background-image: url("Images/mynd2.jpg");
}

.photo5-bg {
  background-image: url("/Images/1-juni.jpg");
  background-position: 50% 75%;
}

.photo6-bg {
  background-image: url("https://images.unsplash.com/photo-1555072956-7758afb20e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  min-height: 200px;
  margin-bottom: 1rem;
  background-position: 50% 70%;
}

.photo7-bg {
  background-image: url("https://images.unsplash.com/photo-1555072956-7758afb20e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  margin-bottom: 1rem;
  background-position: 50% 60%;
}

.photo8-bg {
  background-image: url("https://images.unsplash.com/photo-1555072956-7758afb20e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  min-height: 200px;
  margin-bottom: 1rem;
  background-position: 50% 70%;
}

.photo9-bg {
  background-image: url("https://images.unsplash.com/photo-1555072956-7758afb20e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  margin-bottom: 1rem;
  background-position: 50% 60%;
}

.photo10-bg {
  background-image: url("/Images/fundurforsida.jpg");
}

.photo11-bg {
  background-image: url("/Images/fundurforsida.jpg");
}

.fundur-bg {
  background-image: url("/Images/fundarsalur.jpg");
  justify-content: center;
  min-height: 70vh;
}

/* specifity classes */
/* background colors */
.light-bg {
  background-color: #90877c;
}

.featured-bg {
  background-color:
}

.light-black-bg {
  background-color: #222222;
}

.black-bg {
  background-color: #141414;
  color: #90877c;
}

/* text-alignment classes */
.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* Padding */
.padded, .padded[class*=grid] {
  padding: 5%
}

.padded-5px {
  padding: 5px
}

.padded-1 {
  padding: 1rem;
}

.padded-2 {
  padding: 2rem;
}

.padded-3 {
  padding: 3rem;
}

.padded-4 {
  padding: 4rem;
}

.paddedBottom-0, .paddedBottom-0[class*=grid] {
  padding-bottom: 0;
}

.padded-bottom {
  padding-bottom: 10rem;
}

.paddedTop-0, .paddedTop-0[class*=grid] {
  padding-top: 0;
}

.padded-top {
  padding-top: 2rem;
}

.paddedLeft-2 {
  padding-left: 2rem;
}

.paddedRight-2 {
  padding-right: 2rem;
}

.padded-10 {
  padding: 10rem;
}

.padded-point-5per {
  padding: .5%
}

.no-padding {
  padding: 0;
}

/* Margin */
.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.margin-5 {
  margin: 5rem;
}

.margin-3 {
  margin: 3rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-5 {
  margin-bottom: 5%;
}

.margin {
  margin: 2rem 15rem;
}

/* button  */
.button {
  border: 2px solid black;
  text-transform: uppercase;
  display: inline-block;
  width: 10rem;
  text-align: center;
  padding: .8rem;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.button-homepage {
  letter-spacing: .5rem;
  border: 2px solid black;
  text-transform: uppercase;
  display: inline-block;
  width: 12rem;
  text-align: center;
  padding: .8rem;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.button-homepage:hover {
  background-color: #90877c;
}

.max-500 {
  max-width: 500px;
  margin: auto;
}

#name {
  width: calc(100% - 1rem);
}

.banner-text {
  letter-spacing: .5rem;
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  margin-top: 12rem;
  font-weight: bold;
}

.category {
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: #22333B;
}

.menu-title {
  text-transform: uppercase;
  color: #22333B;
  font-family: 'Yantramanav', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: .2rem;
}

.description {
  color: #22333B;
  font-family: miller display;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.logo {
  margin-top: 2rem;
  margin-left: 2rem;
}

.navbar {
  margin-top: 2rem;
  margin-right: 2rem;
  color: white;
  font-weight: bold;
  font-family: miller display;
  letter-spacing: 1rem;
  font-size: 12px;
}

.fundir h2, .fundir h3 {
  color: white;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.fundir a {
  border: 2px solid #90887C;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  width: 8rem;
  text-align: center;
}

.verticle-line {
  margin: 0 1rem;
  border-left: 2px solid black;
}

.inline {
  display: inline;
}

.fundir h2 {
  font-weight: bold;
  font-size: 60px;
}

.fundir h3 {
  font-size: 30px;
  font-weight: normal;
  font-family: miller display;
}

.fundir-fixed {
  position: fixed;
}

.big-bold {
  font-size: 3rem;
  font-weight: 700;
  font-family: futura-pt, sans-serif;
  letter-spacing: 1rem;
  color: #ffffff;
}

.not-bold {
  font-family: futura-pt, sans-serif;
  letter-spacing: .5rem;
  font-weight: normal;
  color: white;
}

.verd {
  text-align: right;
}

.line-height {
  line-height: 1.5rem;
}

.fontawesome {
  display: inline-block;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.relative {
  position: relative;
}

svg {
  position: absolute;
  bottom: 0;
  fill: white;
}

.special-svg {
  fill: #90877c;
}

.flex-flip {
  padding: 1rem;
}

.flex-flip:nth-child(odd) {
  flex-direction: row-reverse;
}

.promotion-bg {
  background-image: url('Images/promotion-bg.jpeg');
  min-height: 50vh;
  background-position: 50% 48%;
}

.fixed-banner {
  background-attachment: fixed;
}

.banner-menu {
  min-height: 40vh;
}

.fundir h2 {
  color: #90887c;
}

.bg-image {
  background-image: url('/images/fundur2.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 10rem;
}

/* Dropdown from codepan */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  left: 10px;
  padding: 5px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  display: block;
  padding: 5px 15px;
  text-align: left;
  white-space: nowrap;
}

.dropdown-nav {
  position: relative;
}

.dropdown-nav:hover .dropdown-content {
  display: block;
}

.burger-button.active .burger-top {
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle {
  /*   transform: rotateZ(270deg); */
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}


/* Hamburger Menu */
  .mobile-menu {
    display: none;
  }

  .hamburger {
    position: absolute;
    top:0;
    right:0;
    z-index: 3;
    font-size: 1.5rem;
    padding:1rem 5%;
    cursor: pointer;
    z-index:3;
  }

  .hamburger.active {
    color: #f5c5c5;
    position: fixed;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    background-color: #CFCECB;
    padding: 10%;
    z-index: 3;
    text-align: left;
    font-size: 1.5rem;
  }

  .mobile-menu .padded-1 {
    padding-bottom:0;
  }

  .mobile-menu hr {
    margin: 1rem;
    margin-bottom: 2rem;
  }

  .mobile-menu a {
    padding: 0.4rem;
    display: block;
    text-decoration: none;
    color: rgb(60,60,60);
    font-size: 1.4rem;
    font-family: 'futura-pt';
    text-transform: none;

  }

  .mobile-menu .inline a, {
    display: inline-block;
    color: rgb(100,100,110);
    font-weight: normal;
    font-family: 'futura-pt';
    text-transform: none;
    font-size: 0.9rem;
    padding: 0.2rem;
    font-style: italic;
  }

  .mobile-menu .emphasis, {
    background-color: rgb(60,60,60);
    color: white;
    margin: 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
    display: inline-block;
    padding: 0.3rem 0.5rem;
    font-family: 'futura-pt';
  }

  header .mobile-menu a {
    opacity: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-property: opacity;
  }

  header .mobile-menu a {
    --index: 0;
    transition-delay: calc(0.25s * var(--index));
  }

   header .mobile-menu.active a {
    opacity: 1;
    transform: translate(0);
  }

  .back-button img {
    max-width: 2.5rem;
    opacity: 0.8;
  }

button:focus {
  outline: none;
}

/* Dropdown from codepan */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  left: 10px;
  padding: 5px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  display: block;
  padding: 5px 15px;
  text-align: left;
  white-space: nowrap;
}

.dropdown-nav {
  position: relative;
}

.dropdown-nav:hover .dropdown-content {
  display: block;
}

.mobile-show {
  display: none;
}

@media (max-width:756px) {
  .mobile-show {
    display: block;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-margin-butt {
    margin-bottom: 2rem;
  }

  .padded-10 {
    padding: 10%
  }

  .mobile-center {
    text-align: center;
  }

  [class*=photo] {
    padding-bottom: 100%;
  }

  .dropdown-content {
    display: block;
    position: relative;
  }

  .mobile-special-svg {
    fill: #90877c;
  }

  .fixed-banner {
    background-attachment: scroll;
  }
}

/* end media quary */
@media (min-width: 36em) {}

@media (min-width: 48em) {}

@media (min-width: 64em) {}

@media (min-width: 80em) {}
