<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

<!-- Gridlex  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

<!-- Social media icons  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

<!-- Custom stylesheet -->
<link rel="stylesheet" href="/stylesheet.css">

<!-- Adobe fonts -->
<link rel="stylesheet" href="https://use.typekit.net/edg4wtk.css">

<!-- google font -->
<link href="https://fonts.googleapis.com/css?family=Yantramanav&display=swap" rel="stylesheet">


<!-- Header starts -->
  </head>
  <body>
    <header class="grid black-bg header">
      <div class="col-4-middle">
        <a href="/">
          <h2 class="logo"> KORPA KLÚBBHÚS </h2>
        </a>
      </div>
      <nav class="col-8-middle right padded-2 mobile-hide">
        <a class="padded-1"href="/matsedill"> Matseðill </a>
        <a class="padded-1"href="/fundarherbergi"> Fundarherbergi </a>
        <a class="padded-1"href="/um-okkur"> Um okkur </a>
        <a class="padded-1"href="/hafa-samband"> Hafa samband </a>
        <a href="#" class="emphasis"> BÓKA FUNDI </a>
      </nav>
    </header>

    <nav class="mobile-show">
          <div class="burger-button">
              <span class="burger-top"></span>
              <span class="burger-middle"></span>
              <span class="burger-bottom"></span>
          </div>
           <div class="burger-menu">
             <a href="/"> Home </a>
             <a href="/matsedill">Matseðill</a>
             <a href="/fundarherbergi"> Fundarherbergi</a>
             <a href="/um-okkur"> Um okkur</a>
             <a href="hafa-samband">Hafa samband</a>
          </div>
    </nav>

<!-- header ends -->

<!-- Banner1  -->
<section class="banner grid-center fixed-banner bannerimage-bg relative">
  <div class="col-6_sm-12-middle centered">
    <h2 class="big-bold"> {{page.banner-heading}} </h2>
    <h3 class="not-bold"> VEISLUR DRYKKIR VEITINGAR SAMKOMUR </h3>
  </div>
  <svg viewBox="0 0 100 5">
    <polygon points="0,0 50,5 100,0 100,5 0,5"/>
  </svg>
  {% if page.url == "/hafa-samband.html"%}
  <svg viewBox="0 0 100 5" class="special-svg">
    <polygon points="0,0 50,5 0,5"/>
  </svg>
  {% endif %}
</section>



{{ content }}

<!-- footer starts -->

<footer class="grid-middle padded-3 black-bg">
  <!-- column -->
  <div class="col-3_sm-12 padded-1">
    <h2 class="logo"> KORPA KLÚBBHÚS </h2>
    <p> Korpa Klúbbhús er glæsilegur veitingarstaður sem staðsettur er á Korpulsstöðum. Korpa Klúbbhús tilheyrir golfskálanum á Korpúlsstöðum.
      Veitingarstaðurinn er opin almenning og því ekki nauðsynlegt að spila golf til að koma og borða góðan mat hjá okkur.
      Vertu velkomin til okkar! </p>
    <h3> Fylgdu okkur </h3>
    <a class="fontawesome right"> <i class="fab fa-facebook-f"></i> </a>
        <a class="fontawesome right"> <i class="fab fa-instagram"></i> </a>
  </div>
  <div class="col-1 sm-hidden"> <!-- empty filler --> </div>

  <!-- column -->
  <div class="col-3_sm-4_xs-12 padded-1">
    <h3> Explore </h3>
    <nav>
      <a href="/matsedill"> Matseðill </a>
      <a href="/fundarherbergi"> Fundarherbergi </a>
      <a href="/um-okkur"> Um okkur </a>
      <a href="/hafa-samband"> Hafa samband </a>
      <a href="https://www.grgolf.is"> Golfklúbbur Reykjavíkur </a>
    </nav>
  </div>

  <!-- column -->
  <div class="col-3_sm-4_xs-12 padded-1">
    <h3> Staðsetningar </h3>
    <nav>
      <a href="/index"> Korpa Klúbbhús </a>
      <a href="#"> Grafarholt Klúbbhús </a>
      <!-- <a href="#"> Consectetur </a>
      <a href="#"> Ut enim ad </a> -->
    </nav>
  </div>


  <!-- column -->
  <div class="col-2_sm-4_xs-12 padded-1">
    <h3> FYLGDU OKKUR </h3>
    <nav>
      <a href="https://www.facebook.com/korpaklubbhus/"> Facebook </a>
      <a href="#"> Instagram </a>
      <!-- <a href="#"> Pinterest </a>
      <a href="#"> Youtube </a> -->
    </nav>
  </div>
<!-- footer ends -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script type="text/javascript">
$( document ).ready(function() {
   $(".burger-button").click(function(){
     $(".burger-button").toggleClass("active");
     $(".burger-menu").toggleClass("active");
   });
});

</script>
</body>
</html>
