<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

<!-- Gridlex  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

<!-- Social media icons  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

<!-- Custom stylesheet -->
<link rel="stylesheet" href="/stylesheet.css">

<!-- Adobe fonts -->
<link rel="stylesheet" href="https://use.typekit.net/inl1kuz.css">

<!-- Header starts -->
  </head>
  <body>
    <header class="korpa-bg">
      <div class=" grid">
        <div class=" col ">
          <a href="#">
            <h1 class="logo"> Korpa Klúbbhús </h1>
          </a>
        </diV>
        <nav class="col-6 navbar right">
          <a href="/matsedill"> Matseðill </a>
          <a href="/fundarherbergi"> Fundarherbergi </a>
          <a href="/um-okkur"> Um okkur </a>
          <a href="hafa-samband"> Hafa samband </a>
        </nav>
      </div>

      <h2 class="banner-text centered"????>{{page.banner-heading}}</h2>
    </header>

<!-- header ends -->

{{ content }}

<!-- footer starts -->

<footer class="light-black-bg centered padded-4">
  <div class="max-500">
<h2> Korpa Klubbhús </h2>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
<h3> Follow Along </h3>
<a class="fontawesome right"> <i class="fab fa-facebook-f"></i> </a>
    <a class="fontawesome right"> <i class="fab fa-instagram"></i> </a>
    </div>
</footer>

<!-- footer ends -->

</body>
</html>
